name: Post new issues to Slack
on:
  workflow_dispatch: {}
jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
    - name: Post to Slack
      uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a
      with:
        method: chat.postMessage
        token: ${{ secrets.SLACK_BOT_TOKEN }}
        payload: "{\n  \"channel\": \"C09HY5E0K60\",\n  \"text\": \"New issue opened\
          \ in ${{ github.repository }}\",\n  \"blocks\": [\n    {\n      \"type\"\
          : \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n     \
          \   \"text\": \"*New Issue:* <${{ github.event.issue.html_url }}|#${{ github.event.issue.number\
          \ }} ${{ github.event.issue.title }}>\"\n      }\n    },\n    {\n      \"\
          type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n\
          \        \"text\": \"*Author:* ${{ github.event.issue.user.login }}\"\n\
          \      }\n    }\n  ]\n}\n"
